  .H { font-family: arial; font-size: 76px; color: #fff; transition: all .2s Ease-in-out; text-shadow: 0 0 10px #a856f5, 0 0 15px #000; margin: 40px;
}
 
 .H:hover { transform: scale(1,1); }
  body {
  background-color: #222222;
  margin: 0;
  overflow-x: hidden;
}

  .D { font-family: arial; font-size: 20px; color: #ededed; transition: all .2s Ease-in-out; text-shadow: 0 0 10px #a856f5, 0 0 20px #000;
}                                                                      .fot { font-family: arial; font-size: 23px; color: black; font-weight: bold; transition: all .2s Ease-in-out; text-shadow: 0 0 1px #000000;
}                                                      
.b {
  position: fixed;
  z-index: -1;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
  
    .game {
      font-size: 70%; font-family: arial; color: #fff; font-weight: bold; border-width: 8px; background-color: #121212; transition: all 0.4s ease-out; box-shadow: 1px 1px 10px #000; border-color: #a856f5; border-radius: 8px; border-style: solid; width: 250px; max-width: 290;  margin-right: 7%;  margin-left: 7%; margin-top: 6px; height: 47px; }
  
  .game:hover {
    transform: scale(1.1); border-width: 5px; box-shadow: 1px 1px 20px #692f9e; margin-top: 10px;
} 
  .pr {
    width: 245px; height: 245px; border-radius: 20px;  transition: all 0.35s ease-out; box-shadow: 0 0 5px #a856f5; 
  }
    .pr:hover {
    transform: scale(1.035); box-shadow: 0 0 20px #a856f5;
  }
      .footer {
   left: 0;
   bottom: 100;
   width: 100%;
   height: 40px;
   background-color: #ededed;
   color: black;
   text-align: center;
}
